.design
	height: 850px
	padding-top: 110px
	background: linear-gradient(to top, rgba(#d5d5d5, 0.75) 0%, rgba(#d5d5d5, 0.75) 100%),  url('../images/design-bg.png') center no-repeat	
	background-size: cover
	.container
		height: 100%
	@media screen and (max-width: $bp-smallscreen)
		.ipad	
			width: 70%
			left: 15%
			background-size: cover
			background-position: center top
		.iphone
			width: 30%
			right: 5%

.ipad
	position: absolute
	top: 160px
	left: 30%
	width: 40%
	height: 100%
	background: url('../images/ipad.png') center no-repeat
	background-size: contain
	z-index: 1

.iphone
	position: absolute
	right: 17%
	bottom: -90px
	width: 23%
	height: 100%
	background: url('../images/iphone.png') 50% 100% no-repeat
	background-size: contain
	z-index: 3